/.idea/
/camera-vue/.vscode
/camera-vue/node_modules
/camera-vue/dist
/orangepi/Pictures/
/Docs/favicon_package_v0.16/android-chrome-144x144.png
/Docs/favicon_package_v0.16/apple-touch-icon.png
/Docs/favicon_package_v0.16/browserconfig.xml
/Docs/favicon_package_v0.16/favicon.ico
/Docs/favicon_package_v0.16/favicon-16x16.png
/Docs/favicon_package_v0.16/favicon-32x32.png
/Docs/favicon_package_v0.16/mstile-150x150.png
/Docs/favicon_package_v0.16/safari-pinned-tab.svg
/Docs/favicon_package_v0.16/site.webmanifest
/Docs/resources/divecam-logo.psd
/Docs/resources/divecam-logo-big.png
/Docs/resources/divecam-squashed.psd
/Docs/resources/orangepi-logo.png
/Docs/resources/orangepi-logo.psd
/Docs/favicon_package_v0.16.zip
